.card-personaje{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 1px solid #757575;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  max-width:  350px;
  margin: 10px;
  img{
    height: 200px;
    border-radius: 8px;
    /* background-color: #ccc; */
    object-fit: contain;
    &:hover{
      transform: scale(1.2);
      transition: all 0.3s ease-in-out;
    }
  }
}