.navbar-menu {
  background: linear-gradient(to bottom, rgb(47, 100, 214), rgb(248, 219, 39));
  height: 10vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  list-style: none;
  transition: all 0.3s ease-in-out;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.navbar-links li a:hover {
  color: #001aff;
  transform: scale(1.1);
}

.navbar-links img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* Botón hamburguesa */
.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  left: 20px;
  z-index: 1001; 
}

.bar {
  height: 3px;
  width: 30px;
  background-color: white;
  margin: 5px 0;
  border-radius: 5px;
  transition: 0.3s;
}

.bar.open:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.bar.open:nth-child(2) {
  opacity: 0;
}
.bar.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: flex;
  }

  .navbar-links {
    display: none; 
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgb(47, 100, 214), rgb(248, 219, 39));
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
    z-index: 9999;
  }

  .navbar-links.active {
    display: flex; 
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}
